[global]

# the unprivileged user used to connect to clones when doing rdist.
user = ref

# this is the path to where ref programs are on remote systems. this will also
# be sorted to the top so that it is always be deployed first.
home = /usr/local/ref

[runner]
# where the ssh binary is
# default is: /usr/bin/ssh
#ssh = /usr/bin/ssh

# where the rsync binary is
# default is: /usr/bin/rsync
rsync = /usr/local/bin/rsync

# where the sudo binary is
# default is: /usr/bin/sudo
#sudo = /usr/bin/sudo

[paths]
# where the source trees can be found
sources = /clone/sources

# where the host trees will be created for deployment
builds = /clone/builds

# where to put the logs
logs = /clone/logs

# where tools for remote post-processing are located
tools = /clone/tools
